@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background: #eee;
}
li {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tit_hd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: white;
  text-align: center;
  gap: 14px;
  font-size: 48px;
}
.tit_hd h1 {
  font-size: 1em;
  transition: 0.3s;
}
.tit_hd p {
  font-size: 0.5em;
  transition: 0.3s;
}
@media (max-width: 640px) {
  .tit_hd {
    font-size: 32px;
  }
}
nav {
  height: 50px;
  background: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
nav a {
  color: white;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav > a {
  background: orange;
  line-height: 50px;
  padding: 0 20px;
}
.wrap {
  display: flex;
  gap: 20px;
}

main {
  flex: 1;
}
aside {
  flex: 0.4;
}

@media (max-width: 640px) {
  .wrap {
    flex-wrap: wrap;
  }
  main,
  aside {
    flex: 100%;
  }
}
article {
  padding: 20px;
  background: white;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left_tit {
  font-size: 24px;
}
.left_tit h2 {
  font-size: 1em;
  transition: 0.3s;
}
.left_tit p {
  font-size: 0.667em;
  transition: 0.3s;
}
@media (max-width: 640px) {
  .left_tit {
    font-size: 20px;
  }
}

.left_ft {
  font-size: 24px;
}
.left_ft h3 {
  font-size: 1em;
  transition: 0.3s;
}
.left_ft p {
  font-size: 0.667em;
  transition: 0.3s;
}
@media (max-width: 640px) {
  .left_ft {
    font-size: 20px;
  }
}

.left .content .imgwrap {
  width: 100%;
  height: 0;
  padding-top: calc(100 / 200 * 100%);
  background: url("https://picsum.photos/850/400");
}

aside .imgwrap2 {
  width: 100%;
  height: 0;
  padding-top: calc(100 / 200 * 100%);
  background: #ccc;
  background: url("https://picsum.photos/id/257/200/300");
}
.ft {
  background: white;
  padding: 20px;
  text-align: center;
}
