body > div {
  float: left;
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 5px 5px 15px 1px #777;
  text-align: center;
}

a {
  display: block;
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
  line-height: 100px;
  background: #eee;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
a > div {
  background: skyblue;
  opacity: 0.5;
  transition: all 0.5s ease-out;
}
a:hover .cov1 {
  transform: rotate(45deg);
}
a:hover .cov2 {
  transform: rotate(-45deg);
}
a:hover .cov3 {
  transform: rotateX(90deg);
}
a:hover .cov4 {
  transform: rotateY(90deg);
}
a:hover .cov5 {
  transform: rotateZ(90deg);
}
a:hover .cov6 {
  transform: scale(1.5, 1.5);
}
a:hover .cov7 {
  transform: scale(0.5, 0.5);
}
a:hover .cov8 {
  transform: scale(-1, -1);
}
a:hover .cov9 {
  transform: scale(2, 1);
}
a:hover .cov10 {
  transform: skew(45deg, 45deg);
}
a:hover .cov11 {
  transform: skew(-45deg, -45deg);
}
a:hover .cov12 {
  transform: skewX(45deg);
}
a:hover .cov13 {
  transform: skewY(45deg);
}
a:hover .cov14 {
  transform: translate(45px, 45px);
}
a:hover .cov15 {
  transform: translateX(45px);
}
a:hover .cov16 {
  transform: translateY(45px);
}
a.perspective {
  perspective: 100px;
}
a.perspective2 {
  perspective: 80px;
}

a:hover .cov17 {
  transform: rotateX(45deg);
}
a:hover .cov18 {
  transform: rotateY(45deg);
}
a:hover .cov19 {
  transform: rotateX(-90deg);
}
a:hover .cov20 {
  transform: rotateY(-90deg);
}
